@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand.ttf') format('truetype'),
         url('../fonts/Quicksand.woff') format('woff'),
         url('../fonts/Quicksand.woff2') format('woff2');

         font-style: normal;
}

.card-style{
    min-width: 370px;
    max-width: 370px;
    height: 415px;
    margin-top: 100px;
}

.card-pic{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 242px;
    width: 100%;
}

.card-text{
    height: auto;
    min-height: 200px;
    max-height: 250px;
    width: 100%;
    border: 0.3px solid black;
    margin-top: 25px;
}

.card-head{
    font-size: 20px;
    margin-top: 5px;
    margin-left: 10px;
}

.card-par{
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    margin-left: 10px;
}



.card-collection{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 200px;
    margin-top: 0;
    max-width: 75%;
    margin-left: 150px;
}

.card-link{
    margin-left: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.card-link:hover{
    cursor: pointer;
    color: dodgerblue;
}

@media(max-width : 800px){
    .card-style{
        max-width: 270px;
        min-width: 270px;
        margin-bottom: 20px;
    }
    .card-collection{
        margin-left: 55px;
        max-width: 90%;
        gap: 12px;
    }
    .card-par{
        font-size: 15px;
    }
    .card-head{
        font-size: 17px;
    }
}

@media (min-width : 801px) and (max-width : 1024px){
    .card-collection{
        margin-left: 50px;
        gap: 12px;
        max-width: 90%;
    }
    .card-style{
        min-width: 350px;
        max-width: 350px;
    }
}

@media(min-width : 1281px) and (max-width : 1360px){
    .card-head{
        font-size: 23px;
    }
    .card-par{
        font-size: 19px;
    }
}

@media(max-width : 450px){
    .card-collection{
        margin-left: 75px;
    }
    .card-style{
        margin-top: 50px;
    }
}


