@font-face {
    font-family: 'Seasons';
    src: url('../fonts/The\ Seasons\ Bold.ttf') format('truetype'),
         url('../fonts/The\ Seasons\ Bold.woff') format('woff'),
         url('../fonts/The\ Seasons\ Bold.woff2') format('woff2');

         font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand.ttf') format('truetype'),
         url('../fonts/Quicksand.woff') format('woff'),
         url('../fonts/Quicksand.woff2') format('woff2');

         font-style: normal;
}

.footer {
    background-color: #947F57;
    padding: 20px 0;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    height: 230px;
    width: 70%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px;
    transform: translateX(-50%);
    margin-left: 50%;
    color: white;
}

.title h2{
    font-family: 'Seasons', sans-serif;
    font-size: 32px;
    margin-top: 65px;
}

.socials{
    color: white;
    display: flex;
    width: 250px;
    height: auto;
    justify-content: space-between;
}

.footer .socials a svg {
    width: 35px;
    height: 35px;
}

.address{
font-family: 'Quicksand', sans-serif;
}

.address h4{
    font-family: 'Seasons', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

.availability{
font-family: 'Quicksand', sans-serif;
}

.availability h4{
    font-family: 'Seasons', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

@media(max-width : 800px){
    .title h2{
        font-size: 25px;
    }
    .address{
        font-size: 15px;
    }
    .availability{
        font-size: 15px;
    }
    .footer .socials a svg{
        width: 30px;
        height: 30px;
    }
    .socials{
        width: 200px;
    }
    .footer-container{
        width: 95%;
    }
   
}

@media (min-width : 801px) and (max-width : 1024px){
    .footer-container{
        width: 85%;
    }
    .availability{
        font-size: 19px;
    }
    .address{
        font-size: 19px;
    }
}

@media (min-width : 1025px) and (max-width : 1280px){
    .footer-container{
        width: 80%;
    }
    .address{
        font-size: 17px;
    }
    .availability{
        font-size: 17px;
    }
    .title h2{
        font-size: 35px;
    }
    .footer .socials a svg {
        width: 40px;
        height: 40px;
    }
    .socials{
        width: 270px;
    }
}

@media(min-width : 1281px) and (max-width : 1360px){
    .footer-container{
        width: 75%;
    }
    .title h2{
        font-size: 42px;
    }
    .footer .socials a svg{
        width: 40px;
        height: 40px;
    }
    .socials{
        width: 260px;
    }
    .address{
        font-size: 19px;
    }
    .availability{
        font-size: 19px;
    }
}

@media(max-width : 450px){
    .footer-container{
        display: block;
    }
    .title{
        text-align: center;
    }
    .address{
        margin-top: 25px;
        text-align: center;
    }
    .availability{
        margin-top: 25px;
        text-align: center;
        padding-bottom: 20px;
    }
    .footer .socials{
        transform: translateX(-50%);
        margin-left: 50%;
    }
    .title h2{
        margin-top: 20px;
    }
}