@font-face {
    font-family: 'Seasons';
    src: url('../fonts/The\ Seasons\ Bold.ttf') format('truetype'),
         url('../fonts/The\ Seasons\ Bold.woff') format('woff'),
         url('../fonts/The\ Seasons\ Bold.woff2') format('woff2');

         font-style: normal;
}

.heading-style{
   transform: translateX(-25%);
   margin-left: 25%;
   margin-top: 160px;
   font-size: 55px;
   font-family: 'Seasons', sans-serif;
   color: white;
}

.sub-style{
   font-style: italic;
   font-weight: 100;
   font-size: 30px;
   color: white;
   transform: translateX(-25%);
   margin-left: 25%;
   margin-top: 0;
}

@media(max-width : 800px){
   .heading-style{
      font-size: 48px;
      margin-top: 140px;
   }
}

@media (min-width : 801px) and (max-width : 1024px){
   .heading-style{
      margin-top: 180px;
   }
}

@media (min-width : 1025px) and (max-width : 1280px){
   .heading-style{
      margin-top: 120px;
   }
}

@media(min-width : 1281px) and (max-width : 1360px){
   .heading-style{
      font-size: 75px;
   }
}

@media(max-width : 450px){
   .heading-style{
      font-size: 26px;
      margin-top: 60px;
      transform: translateX(-50%);
      margin-left: 50%;
      text-align: center;
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
   }
}







