@font-face {
    font-family: 'Seasons';
    src: url('../fonts/The\ Seasons\ Bold.ttf') format('truetype'),
         url('../fonts/The\ Seasons\ Bold.woff') format('woff'),
         url('../fonts/The\ Seasons\ Bold.woff2') format('woff2');

         font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand.ttf') format('truetype'),
         url('../fonts/Quicksand.woff') format('woff'),
         url('../fonts/Quicksand.woff2') format('woff2');

         font-style: normal;
}

:root{
    background-color: white !important;
    color: black !important;
}

.main-hero{
    display: flex;
    z-index: 50;
}

.home-body{
    height: auto;
}

.mid-home{
    height: 650px;
    width: 100%;
    display: flex;
}

.mid-par{
    height: 100%;
    width: 50%;
    border-bottom: 1px solid white;
    box-shadow: 2px 2px 10px rgba(200, 200, 200, 0.5);
}

.mid-par h1{
    margin-top: 200px;
    margin-left: 30px;
    font-family: 'Seasons', sans-serif;
}

.mid-par p{
    margin-left: 30px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.mid-pic{
    height: 100%;
    width: 50%;
    background-image: url('../singlebed.webp');
    background-size: cover;
}

.heading-card{
    font-family: 'Seasons', sans-serif;
    width: 100%;
    text-align: center;
}

.home-heading{
    font-family: "Seasons", sans-serif;
    font-size: 55px;
    color: white;
    margin-left: 25px;
    margin-bottom: 0;
}

.sub-head{
    font-weight: 100;
    font-size: 30px;
    color: white;
    margin-left: 25px;
    margin-top: 0;
    font-style: italic;
}

.login-toggle{
    transform: translateX(-50%);
    text-align: center;
    margin-left: 50%;
    bottom: 10px;
    color: white;
}

@media(max-width : 800px){
    .home-heading{
        font-size: 36px;
    }
    .sub-head{
        font-size: 23px;
    }
    .mid-par h1{
        font-size: 34px;
        margin-top: 100px;
    }
    .mid-par p{
        font-size: 16px;
    }
}

@media(min-width : 1025px) and (max-width : 1280px){
    .home-heading{
        font-size: 50px;
    }

    .mid-par p{
        font-size: 17.5px;
    }
}

@media(min-width : 1281px) and (max-width : 1360px){
    .home-heading{
        font-size: 55px;
    }
    .sub-head{
        font-size: 30px;
    }
    .mid-par h1{
        font-size: 55px;
        margin-top: 100px;
    }
    .mid-par p{
        font-size: 20px;
    }
}

@media (max-width : 425px){
   
    .main-hero{
        display: block;
    }
    .home-heading{
        margin-left: 0;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 33px;
    }
    .sub-head{
        margin-left: 0;
    }
    .mid-home{
        display: block;
    }
    .mid-par{
        height: 50%;
        width: 100%;
        text-align: center;
    }
    .mid-par h1{
        margin-top: 0;
        padding-top: 50px;
        margin-left: 0;
    }
    .mid-par p{
        margin-left: 0;
        padding: 20px;
    }
    .mid-pic{
        height: 50%;
        width: 100%;
    }
}