@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand.ttf') format('truetype'),
         url('../fonts/Quicksand.woff') format('woff'),
         url('../fonts/Quicksand.woff2') format('woff2');

         font-style: normal;
}

.logout-style{
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    width: 100px;
    transform: translateX(-50%);
    left: 50%;
}

.logout-style:hover{
    color: red;
    cursor: pointer;
}