@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand.ttf') format('truetype'),
         url('../fonts/Quicksand.woff') format('woff'),
         url('../fonts/Quicksand.woff2') format('woff2');

         font-style: normal;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    max-width: 70%;
    margin: 0 auto;
}

.navbar a{
    color: white;
    font-size: 19px;
    font-family: 'Quicksand', sans-serif;
}

.navbar a:hover{
    color: white;
    border-bottom: 1.5px solid white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

