.sign-input{
transform: translateX(-50%);
height: 40px;
width: 300px;
margin-left: 50%;
margin-top: 10px;
background-color: white;
border: none;
}

.sign-submit{
    margin-top: 10px;
    height: 42px;
    width: 120px;
    font-family: 'Quicksand', sans-serif;
    transform: translateX(-50%);
    margin-left: 50%;
}

.login-link{
    text-align: center;
    margin-top: 15px;
    color: black;
    font-family: "Quicksand", sans-serif;
}

.login-link:hover{
    cursor: pointer;
    color: blue;
}

@media(max-width : 800px){
    .sign-input{
        width: 250px;
        height: 28px;
        margin-top: 10px;
    }
    .sign-submit{
        height: 35px;
        width: 100px;
        margin-top: 10px;
    }
    .login-link{
        font-size: 13px;
        margin-top: 10px;
    }
}

@media(min-width : 1025px) and (max-width : 1280px){
    .sign-input{
        margin-top: 10px;
        font-size: 13px;
        height: 35px;
    }
    .sign-submit{
        height: 42px;
        font-size: 16px;
        margin-top: 10px;
    }
    .login-link{
        margin-top: 15px;
        font-size: 16.5px;
        margin-top: 10px;
    }
}

@media (min-width : 1281px) and (max-width : 1360px){
    .sign-input{
        width: 400px;
        height: 38px;
        font-size: 15px;
    }
    .sign-submit{
        font-size: 17px;
        height: 45px;
    }
    .login-link{
        font-size: 17px;
        margin-top: 10px;
    }
}